In [1]:
#Importing required libraries
!pip install numpy
!pip install pandas
!pip install scikit-learn
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, RepeatedStratifiedKFold
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings("ignore")

#mount the data from google drive
from google.colab import drive
drive.mount('/content/drive/')
# load the bioresponse data as data
df=pd.read_csv("/content/drive/My Drive/Colab Notebooks/predict.csv")

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
# To  check the null values in the data
df.isnull().sum()

recency                         0
topic_rank                      0
diversity                       0
authors_mean_rank               6
authors_mean_hindex             6
authors_mean_gindex             6
authors_mean_sociality          6
authors_mean_pagerank         479
authors_mean_productivity     479
journal_pagerank              479
journal_rank                   39
title_len                       0
abstract_len                    0
n_authors                       0
c5                              0
log_authors_mean_sociality      6
dtype: int64

In [3]:
# Dropping the feature colums which have no significance.
# authors_mean_sociality is removed as it is completly corelated to log_authors_mean_sociality.
df = df.drop(['authors_mean_pagerank', 'authors_mean_productivity', 'journal_pagerank', 'authors_mean_sociality'], axis=1)

In [4]:
df.head()

   recency  topic_rank  diversity  ...  n_authors    c5  log_authors_mean_sociality
0       16         1.0  -0.425436  ...          7   1.0                    1.945910
1        8         7.0  -0.571967  ...          7  32.0                    1.945910
2       15        19.0  -0.859644  ...          6   5.0                    1.791759
3        6         4.0  -1.054999  ...         11   7.0                    2.397895
4       14         2.0  -0.476697  ...          3   7.0                    1.098612

[5 rows x 12 columns]

In [5]:
df.describe()

          recency  topic_rank  ...          c5  log_authors_mean_sociality
count  479.000000  479.000000  ...  479.000000                  473.000000
mean    13.419624   10.125261  ...    6.713987                    1.264066
std      5.860415    5.748655  ...   12.547968                    0.703466
min      5.000000    1.000000  ...    0.000000                    0.000000
25%      8.000000    5.000000  ...    0.000000                    0.693147
50%     13.000000   10.000000  ...    2.000000                    1.386294
75%     18.000000   15.000000  ...    8.000000                    1.791759
max     25.000000   20.000000  ...  154.000000                    2.772589

[8 rows x 12 columns]

In [6]:
# Filling the nan values with median or mode value of the feature.
df['authors_mean_gindex'].fillna(1, inplace=True)
df['authors_mean_hindex'].fillna(1, inplace=True)
df['log_authors_mean_sociality'].fillna(df['log_authors_mean_sociality'].median(), inplace=True)
df['authors_mean_rank'].fillna(df['authors_mean_rank'].median(), inplace=True)
df['journal_rank'].fillna(df['journal_rank'].median(), inplace=True)

In [7]:
# separagtin the labels column
y = df['c5']
X = df.drop('c5', axis=1)

In [8]:
# Building gradiend boosting regression model
# As we have very few data sample, boosting should be used to overcome underfitting conditions.

grad_model=GradientBoostingRegressor(random_state=1)

# Using crossvalidation to for better estimation
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=1, random_state=0)

# Training the model using for cv data.
grad_scores= cross_validate(grad_model, X, y, cv=cv, scoring=('r2', 'neg_mean_squared_error'), return_train_score=True)

In [9]:
# Caluclating the test and train accuracy
print('Test R2 value: {}' .format(grad_scores['test_r2'].mean()))
print('Train R2 value: {}' .format(grad_scores['train_r2'].mean()))

Test R2 value: 0.7956819728169684
Train R2 value: 0.9821895328261278